<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        People Performance Management System
    </title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" media="screen" th:href="@{/css/sb-admin.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/my-styles.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/table-style.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/css/bootstrap-select.min.css}" />

    <link rel="stylesheet" media="screen" th:href="@{/css/new-item-form-style.css}" />
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" th:href="@{/font-awesome/css/font-awesome.min.css}" />
 
    <!-- jQuery -->
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>

    <script type="text/javascript" th:src="@{/js/new-item-form.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.idTabs.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script>
        $(document).ready(function() {
            $(".button").click(function() {
                var targetDiv = (document.getElementById("usual1").getElementsByClassName("selected")[0]) + "";
                var activeTab = targetDiv.split("#")[1];

                switch (activeTab) {
                    case "tab1":
                        $("#sForm_per").toggleClass("open");
                        break;
                    case "tab2":
                        $("#sForm_res").toggleClass("open");
                        var personId = document.getElementById("personIdLabel").innerText;
                        document.getElementById("newResultFormPersonId").setAttribute("value", personId);
                        break;
                    case "tab3":
                        $("#sForm_sdev").toggleClass("open");
                        break;
                    case "tab4":
                        $("#sForm_pdev").toggleClass("open");
                        var personId = document.getElementById("personIdLabel").innerText;
                        document.getElementById("newPhysicalDevFormPersonId").setAttribute("value", personId);
                        break;
                    case "tab5":
                        $("#sForm_train").toggleClass("open");
                        break;
                    case "tab6":
                        $("#sForm_per_supp_new").toggleClass("open");
                        var personId = document.getElementById("personIdLabel").innerText;
                        document.getElementById("newSupplementForPersonFormPersonId").setAttribute("value", personId);
                        break;
                    case "tab7":
                        $("#sForm_per_club_new").toggleClass("open");
                        break;

                }
            });


            $(".controlTd").click(function() {
                $(this).children(".settingsIcons").toggleClass("display");
                $(this).children(".settingsIcon").toggleClass("openIcon");
            });
            
        });
            function openUpdateResultForm(elem) {
                $("#sForm_res_up").toggleClass("open");
                document.getElementById("updateResultFormResultId").setAttribute("value", elem.id);
            }
            
            function openUpdatePhysicalDevForm(elem) {
                $("#sForm_pdev_up").toggleClass("open");
                document.getElementById("updatePhysicalDevFormPersonId").setAttribute("value", elem.id);
            }
            
            
            function openUpdateSuppForPersonForm(elem) {
                $("#sForm_per_supp_up").toggleClass("open");
                document.getElementById("updateSupplementFormSuppId").setAttribute("value", elem.id);
            }
    </script>
</head>

<body>
    <div id="wrapper">
        <div th:include="fragments/menu-frame :: menu"></div>
        <div id="page-wrapper" style="background-color:#EDEFF0">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                       <p th:text=" ${person.getName()} " />
                     </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard">
                           </i>
                                <a href="index.html">
                           Dashboard
                           </a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table">
                           </i> Személy
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div id="usual1" class="usual">
                    <table class="flatTable">
                        <tr class="titleTr">
                            <td class="titleTd" style="font-size:20px">
                                <a href="#tab1" class="selected" class="headingTab">Személyes adatok</a>
                            </td>
                            <td> <a href="#tab2" class="headingTab">Eredmények</a></td>

                            <td> <a href="#tab3" class="headingTab">Fejlodes Sportban</a></td>

                            <td> <a href="#tab4" class="headingTab">Fejlődés Testi Adottságokban</a></td>

                            <td> <a href="#tab5" class="headingTab">Edzésmódszerek</a></td>

                            <td> <a href="#tab6" class="headingTab">Táplálékkiegészitők</a></td>

                            <td> <a href="#tab7" class="headingTab">Klubbtagságok</a></td>


                            <td class="plusTd button">
                            </td>
                        </tr>
                    </table>


                    <!----------------------------------------Personal--------------------------------------->
                    <div id="tab1">
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Név
                                </td>
                                 <td>
                                    Sport
                                </td>
                                <td>
                                    Életkor
                                </td>
                                <td>
                                    Cím
                                </td>
                                <td>
                                    Műveletek
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p id="personIdLabel" th:text=" ${person.id} " />
                                </td>
                                <td>
                                    <a th:href="@{/person/show/{id}(id=${person.id})}">
                                        <p th:text=" ${person.name} " />
                                    </a>
                                </td>
                                  <td>
                                    <p th:text=" ${person.sport.name} " />
                                </td>
                                <td>
                                    <p th:text=" ${#dates.format(person.birthDate, 'yyyy-MM-dd')} " />
                                </td>
                                <td>
                                    <p th:text=" ${person.address} " />
                                </td>
                                <td>
                                    <td class="controlTd">
                                        <div class="settingsIcons">
                                            <span class="settingsIcon">
                                 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                                 </span>
                                            <span class="settingsIcon">
                                 <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                 </span>
                                            <div class="settingsIcon">
                                                <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                            </div>
                                        </div>
                                    </td>
                            </tr>
                        </table>
                        <!-- div th:include="fragments/forms :: newPerson"></div> -->

                    </div>

                    <!----------------------------------------Personal--------------------------------------->



                    <!----------------------------------------Result--------------------------------------->
                    <div id="tab2">
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Helyezés
                                </td>
                                <td>
                                    Verseny
                                </td>
                                <td>
                                    Dátum
                                </td>
                                <td>
                                    Sport
                                </td>
                                <td>
                                    Műveletek
                                </td>
                            </tr>
                            <tr th:each="result : ${results}">
                                <td>
                                    <p th:text=" ${result.id} " />
                                </td>
                                <td>
                                    <p th:text=" ${result.position} " />
                                </td>
                                <td>
                                    <p th:text=" ${result.getEvent().getName()} " />
                                </td>
                                <td>
                                    <p th:text=" ${#dates.format(result.getEvent().getDate(), 'yyyy-MM-dd')} " />
                                </td>
                                <td>
                                    <p th:text=" ${result.getSport().getName()} " />
                                </td>
                                  <td class="controlTd">
                                <div class="settingsIcons">
                                    <span class="settingsIcon">
                         			 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                           			</span>
                                    <div class="settingsIcon">
                                        <a class="glyphicon  glyphicon-remove-sign" th:href="@{/result/delete/{id}(id=${result.id})}"><span></span></a>
                                    </div>

                                    <div class="settingsIcon">
                                        <a class="glyphicon glyphicon-pencil" th:id=${result.id} onclick="openUpdateResultForm(this)"><span></span></a>
                                    </div>

                                </div>
                            </td>
                            </tr>
                        </table>
                        <div th:include="fragments/forms :: newResult"></div>
                        <div th:include="fragments/forms :: updateResult"></div>
           
                    </div>
                        <!----------------------------------------Result--------------------------------------->





                        <!----------------------------------------SportDev--------------------------------------->
                    <div id="tab3">
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Sport
                                </td>
                                <td>
                                    Dátum
                                </td>
                                <td>
                                    Idő
                                </td>
                                <td>
                                    Távolság
                                </td>
                                <td>
                                    Súly
                                </td>
                                <td>
                                    Műveletek
                                </td>
                            </tr>
                            <tr th:each="sportdev : ${sportdevs}">
                                <td>
                                    <p th:text=" ${sportdev.id} " />
                                </td>
                                <td>
                                    <p th:text=" ${sportdev.getSport().getName()} " />
                                </td>
                                <td>
                                    <p th:text="${#dates.format(sportdev.date, 'yyyy-MM-dd')}" />
                                </td>
                                <td>
                                    <p th:text=" ${sportdev.time} " />
                                </td>
                                <td>
                                    <p th:text=" ${sportdev.distance} " />
                                </td>
                                <td>
                                    <p th:text=" ${sportdev.weight} " />
                                </td>
                                <td class="controlTd">
                                    <div class="settingsIcons">
                                        <span class="settingsIcon">
                                 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                                 </span>
                                        <span class="settingsIcon">
                                 <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                 </span>
                                        <div class="settingsIcon">
                                            <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="sForm" class="sForm sFormPadding ">
                            <h3 class="title">
                           Új elem felvétele
                        </h3>
                            <span class="button close">
                        <img src="http://i.imgur.com/nnzONel.png" alt="X"  class="" />
                        </span>
                        </div>
                    </div>
                        <!----------------------------------------SportDev--------------------------------------->





                        <!----------------------------------------PhysicalDev--------------------------------------->
                    <div id="tab4">
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Sport
                                </td>
                                <td>
                                    Dátum
                                </td>
                                <td>
                                    Vérnyomás
                                </td>
                                <td>
                                    Súly
                                </td>
                                <td>
                                    Magasság
                                </td>
                                <td>
                                    Testzsir%
                                </td>
                                 <td>
                                    Műveletek
                                </td>
                            </tr>
                            <tr th:each="physicaldev : ${physicaldevs}">
                                <td>
                                    <p th:text=" ${physicaldev.id} " />
                                </td>
                                <td>
                                    <p th:text=" ${physicaldev.getSport().getName()} " />
                                </td>
                                <td>
                                <p th:text="${#dates.format(physicaldev.date, 'yyyy-MM-dd')}" />
                                </td>
                                <td>
                                    <p th:text=" ${physicaldev.bloodPressure} " />
                                </td>
                                <td>
                                    <p th:text=" ${physicaldev.weight} " />
                                </td>
                                <td>
                                    <p th:text=" ${physicaldev.height} " />
                                </td>
                                <td>
                                    <p th:text=" ${physicaldev.bodyFat} " />
                                </td>
                                 <td class="controlTd">
                                <div class="settingsIcons">
                                    <span class="settingsIcon">
                         			 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                           			</span>
                                    <div class="settingsIcon">
                                        <a class="glyphicon  glyphicon-remove-sign" th:href="@{/physicalDevelopment/delete/{id}(id=${physicaldev.id})}"><span></span></a>
                                    </div>

                                    <div class="settingsIcon">
                                        <a class="glyphicon glyphicon-pencil" th:id=${physicaldev.id} onclick="openUpdatePhysicalDevForm(this)"><span></span></a>
                                    </div>

                                </div>
                            </td>
                            </tr>
                        </table>
                       <div th:include="fragments/forms :: newPhysicalDev"></div>
                       <div th:include="fragments/forms :: updatePhysicalDev"></div>
                    </div>
                        <!----------------------------------------Table--------------------------------------->





                    <div id="tab5">
                        <!----------------------------------------Table--------------------------------------->
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Sport
                                </td>
                                <td>
                                    Edzésmódszer
                                </td>
                                <td>
                                    Kezdési dátum
                                </td>
                                <td>
                                    Befejezés dátuma
                                </td>
                                <td>
                                    Műveletek
                                </td>
                            </tr>
                            <tr th:each="trainingmethod : ${trainingmethods}">
                                <td>
                                    <p th:text=" ${trainingmethod.id} " />
                                </td>
                                <td>
                                    <p th:text=" ${trainingmethod.getSport().getName()} " />
                                </td>
                                <td>
                                    <p th:text=" ${trainingmethod.name} " />
                                </td>
                                <td>
                                    <p th:text="${#dates.format(trainingmethod.startDate, 'yyyy-MM-dd')}" />
                                </td>
                                <td>
                                 <p th:text="${#dates.format(trainingmethod.endDate, 'yyyy-MM-dd')}" />
                                </td>
                                <td class="controlTd">
                                    <div class="settingsIcons">
                                        <span class="settingsIcon">
                                 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                                 </span>
                                        <span class="settingsIcon">
                                 <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                 </span>
                                        <div class="settingsIcon">
                                            <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="sForm" class="sForm sFormPadding ">
                            <h3 class="title">
                           Új elem felvétele
                        </h3>
                            <span class="button close">
                        <img src="http://i.imgur.com/nnzONel.png" alt="X"  class="" />
                        </span>
                        </div>
                        <!----------------------------------------Table--------------------------------------->
                    </div>





                    <div id="tab6">
                        <!----------------------------------------Supplement--------------------------------------->
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Táplálékkiegészito
                                </td>
                                <td>
                                    Napi adag
                                </td>
                                <td>
                                    Kezdési dátum
                                </td>
                                <td>
                                    Befejezés dátuma
                                </td>
                                <td>
                                    Műveletek
                                </td>
                            </tr>
                            <tr th:each="usedsupp : ${usedsupps}">
                                <td>
                                    <p th:text=" ${usedsupp.id} " />
                                </td>
                                <td>
                                    <p th:text=" ${usedsupp.getSupplement().getName()} " />
                                </td>
                                <td>
                                    <p th:text=" ${usedsupp.dailyDosage} " />
                                </td>
                                <td>
                                <p th:text="${#dates.format(usedsupp.startDate, 'yyyy-MM-dd')}" />
                                </td>
                                <td>
                                <p th:text="${#dates.format(usedsupp.endDate, 'yyyy-MM-dd')}" />
                                </td>
                                <td class="controlTd">
                                <div class="settingsIcons">
                                    <span class="settingsIcon">
                         			 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                           			</span>
                                    <div class="settingsIcon">
                                        <a class="glyphicon  glyphicon-remove-sign" th:href="@{/usedSupp/delete/{id}(id=${usedsupp.id})}"><span></span></a>
                                    </div>

                                    <div class="settingsIcon">
                                        <a class="glyphicon glyphicon-pencil" th:id=${usedsupp.id} onclick="openUpdateSuppForPersonForm(this)"><span></span></a>
                                    </div>
                                </div>
                            </td>
                            </tr>
                        </table>
                         <div th:include="fragments/forms :: newSupplementForPerson"></div>
                         <div th:include="fragments/forms :: updateSupplementForPerson"></div>
                        <!----------------------------------------Table--------------------------------------->
                    </div>





                    <div id="tab7">
                        <!----------------------------------------Table--------------------------------------->
                        <table class="flatTable">
                            <tr class="headingTr">
                                <td>
                                    Sorszám
                                </td>
                                <td>
                                    Klub
                                </td>
                                <td>
                                    Tagság kezdete
                                </td>
                                <td>
                                    Tagság vége
                                </td>
                                <td>
                                    Műveletek
                                </td>
                            </tr>
                            <tr th:each="membership : ${memberships}">
                                <td>
                                    <p th:text=" ${membership.id} " />
                                </td>
                                <td>
                                    <p th:text=" ${membership.getClub().name} " />
                                </td>

                                <td>
                                    <p th:text="${#dates.format(membership.startDate, 'yyyy-MM-dd')}" />
                                </td>
                                <td>
                                    <p th:text="${#dates.format(membership.endDate, 'yyyy-MM-dd')}" />
                                </td>
                                <td class="controlTd">
                                    <div class="settingsIcons">
                                        <span class="settingsIcon">
                                 <img src="http://i.imgur.com/nnzONel.png" alt="X" />
                                 </span>
                                        <span class="settingsIcon">
                                 <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                 </span>
                                        <div class="settingsIcon">
                                            <img src="http://i.imgur.com/UAdSFIg.png" alt="placeholder icon" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                          <div th:include="fragments/forms :: newClubForPerson"></div>
                        <!----------------------------------------Table--------------------------------------->
                    </div>





                </div>
                <script type="text/javascript">
                    $("#usual1").idTabs();
                </script>
                <br>
                <br>
                <br>
                <br>

   
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>